@tailwind base;
@tailwind components;
@tailwind utilities;

.datagrid-page-button {
	@apply p-2 rounded-md hover:bg-gray-100 active:bg-gray-300 hover:text-gray-900
}

.button-primary {
	@apply bg-blue-500 hover:bg-blue-600 active:bg-blue-700 text-white
}

.button-primary:disabled {
	@apply bg-blue-500 disabled:bg-opacity-50 text-white
}

.button-primary-text {
	@apply text-blue-500 hover:text-blue-600 active:text-blue-700 font-medium
}

.button-primary-pill-sm {
	@apply button-primary text-sm font-semibold rounded-full py-1 px-4
}

.button-secondary {
	@apply border-primary bg-white hover:bg-gray-200 focus:bg-gray-200 active:bg-gray-300 text-gray-900
}

.button-secondary:disabled {
	@apply border-primary bg-white text-gray-900
}

.button-secondary-pill-sm {
	@apply button-secondary text-sm font-semibold rounded-full py-1 px-4
}

.button-danger {
	@apply bg-red-600 hover:bg-red-500 active:bg-red-700 text-white
}

.button-danger:disabled {
	@apply bg-red-600 text-white
}

.button-danger-outline {
	@apply border border-red-600 hover:bg-gray-100 active:bg-gray-300 text-red-600 font-medium
}

.button-danger-text {
	@apply text-red-600 hover:text-red-500 active:text-red-700 font-medium
}

.radio-primary {
	@apply appearance-none rounded-full ring-1 ring-offset-2 ring-gray-300 w-3 h-3 checked:bg-blue-500 m-1 hover:bg-blue-400 active:bg-blue-600
}
.
checkbox-primary {
	@apply appearance-none rounded-sm ring-1 ring-offset-2 ring-gray-300 w-4 h-4 checked:bg-blue-500 m-1 hover:bg-blue-400 active:bg-blue-600
}

.border-primary {
	@apply border border-gray-300
}

.modal-title {
	@apply text-xl font-semibold
}

.modal-footer {
	@apply flex flex-col-reverse sm:flex-row sm:justify-end space-y-reverse space-y-2 sm:space-y-0 sm:space-x-2 bg-gray-100 rounded-b-md px-4 py-2
}