@tailwind base;
@tailwind components;
@tailwind utilities;

.datagrid-page-button {
	@apply p-2 rounded-md hover:bg-gray-100 active:bg-gray-300 hover:text-gray-900
}

.button-primary {
	@apply bg-blue-500 hover:bg-blue-600 active:bg-blue-700 text-white
}

.radio-primary {
	@apply appearance-none rounded-full ring-1 ring-offset-2 ring-gray-300 w-3 h-3 checked:bg-blue-500 m-1 hover:bg-blue-400 active:bg-blue-600
}

.border-primary {
	@apply border border-gray-300
}